# --- Build Output and Binaries ---

**/target/
**/build/
\*\*/out/
.gradle/

# --- IDE and Local Configuration ---

.idea/
_.iml
_.ipr
\*.iws
.settings/
.classpath
.project
.factorypath

# --- Version Control and Logs ---

.git
.gitignore
\*.log
logs/

# --- CI/CD and Containerization Files ---

Dockerfile
.dockerignore
docker-compose\*.yml
compose.yaml
.github/
.gitlab-ci.yml

# --- System and OS Files ---

.DS_Store
Thumbs.db

# env

app.env
_.env_
.env
